@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


.header{
  border: 2px solid forestgreen;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: aqua;
}

.nav-bar{
  position: relative;
  border: 2px solid forestgreen;
  background-color: #005193;
  width: 300px;
  height: 730px;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px    16px;
  list-style: none;
  height: 60px;
}

.link-text{
  color: rgb(14, 2, 2);
}

.nav-text a:hover{
  background: #eb4d31;
}

.tech-data{
  position: absolute;
  padding-top: 100px;
  padding-left: 60vh;
  justify-content: start;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}